 /* Estilo para a página toda */
body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;
    margin: 0;
    background-color: #f5f7fa;
    flex-direction: column;
    overflow-y: scroll;
}

/* Caixa do formulário */
.upload-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
}

/* Estilo do título */
.upload-container h2 {
    color: #333;
    margin-bottom: 1em;
    font-size: 1.8em;
}

/* Estilo do label */
.upload-container label {
    font-size: 1em;
    color: #555;
    margin-bottom: 0.5em;
    display: inline-block;
}

/* Estilo do input */
.upload-container input[type="file"] {
    margin-top: 0.5em;
    padding: 0.5em;
    display: flex;
    width: 100%;
    font-size: 0.9em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Estilo do botão */
.upload-container button {
    margin-top: 1em;
    padding: 0.8em 1.5em;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-container button:hover {
    background-color: #0056b3;
}

 table {
     display: flex;
     width: 80%;
     margin-top: 20px;
     font-family: Arial, sans-serif;
     font-size: 14px;
     max-height: 300px;
     overflow-y: scroll;
     flex-direction: column;
 }

 th, td {
     border: 1px solid #ddd;
     padding: 8px;
     text-align: left;
 }

 th {
     background-color: #cfcfcf;
     font-weight: bold;
 }

 tr:nth-child(even) {
     background-color: #b8b8b8;
 }

 tr:hover {
     background-color: #dddddd;
 }

